{% extends 'model-page.html' %}

{% block content %}
<div class="conteudo">
    <h2>Crie um Evento</h2>
    <form action="submit" method="post" enctype="multipart/form-data" style="margin-right: 300px;">
        {% csrf_token %}
        <label>Título do Evento:</label>
        <input type="text" name="titulo" class="form-control" style="margin-bottom: 10px;" required>
        <label>Descrição:</label>
        <textarea name="descricao" class="form-control" rows="8" style="margin-bottom: 10px;" required></textarea>
        <div class="form-row">
            <div class="col">
                <label>Data de início:</label>
                <input type="datetime-local" name="data_inicio" class="form-control"
                       style="margin-bottom: 10px; width:210px;" required>
            </div>
            <div class="col">
                <label>Data de término:</label>
                <input type="datetime-local" name="data_fim" class="form-control"
                       style="margin-bottom: 10px; width:210px;" required>
            </div>
        </div>
        <label>Local:</label>
        <input type="text" name="local" class="form-control" style="margin-bottom:10px" required>
        <label>Organizador:</label>
        <input type="text" name="organizador" class="form-control" style="margin-bottom:20px" required>
        <div align="center">
            <button type="submit" class="btn btn-primary">Criar Evento</button>
        </div>

    </form>
</div>
{% endblock %}