{% extends "model-page.html" %}

{% block btn_nav %}
<a href="/logout/">
    <a href="/minha_pagina">
        <button class="btn btn-outline-secondary" style="margin-right: 10px;">Voltar</button>
    </a>
    <button class="btn btn-outline-danger my-2 my-sm-0">Sair</button>

</a>

{% endblock %}

{% block content %}
<div class="write_post" align="center">
    <h2>Escreva sua Publicação</h2>
    <form method="POST">
        {% csrf_token %}
        <div align="left">
            {{ form.media }}
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Publicar</button>
    </form>
</div>

{% endblock %}