<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h4 style="margin-right: 30px;">PyBlog</h4>
        <ul class="navbar-nav mr-auto">

        </ul>

        <div class="form-inline my-2 my-lg-0">
            <a href="/login/">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 10px; margin-left: 10px;">
                    Fazer Login
                </button>
            </a>
            <a href="/cadastro/">
                <button class="btn btn-outline-secondary my-2 my-sm-0" style="margin-right: 10px; margin-left: 10px;">
                    Cadastre-se
                </button>
            </a>
        </div>
    </div>
</nav>

<section>
    <div align="center" class="conteudo">
        <h1>PyBlog</h1><br>
        <h3>
            Blog dedicado à linguagem de programação Python e todas as tecnologias de desenvolvimento em Python,
            como frameworks, bibliotecas etc.
        </h3><br><br>
        <p>
            Este blog não é só pra você ler publicações. É livre pra quem quiser escrever um artigo, publicar um post
            sobre qualquer coisa relacionada à linguagem Pyhton. Faça seu cadastro e começe a escrever e compartilhar
            seu conhecimento com outras pessoas.
        </p>
    </div>
</section>

<section id="publicacoes">
    <div class="conteudo">
        <h2>Publicações</h2>


        <div class="row row-cols-2">
            {% for publicacao in publicacoes %}
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            {% load static %}
                            <img src="{% static 'img/tecnologias/python.png' %}" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ publicacao.titulo }}</h5>
                                <p class="card-text">{{ publicacao.descricao }}</p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        Publicado por: {{ publicacao.autor }}<br>{{ publicacao.data_publicacao }}
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<footer align="center">
    {% include "model-footer.html" %}
</footer>

</body>
</html>