<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h4 style="margin-right: 30px;">PyBlog</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>
        </ul>

        <div class="form-inline my-2 my-lg-0">
            <a href="/cadastro/">
                <button class="btn btn-outline-secondary my-2 my-sm-0" style="margin-right: 10px; margin-left: 10px;">
                    Cadastre-se
                </button>
            </a>
        </div>
    </div>
</nav>

<div class="login-form" align="center">
    <h2>Faça seu login</h2>
    <form action="submit" method="POST">
        {% csrf_token %}
        <div align="center">
            <input type="text" name="username" class="form-control" placeholder="Usuário" style="margin-bottom: 10px;"/>
            <input type="password" name="password" class="form-control" placeholder="Senha"/><br>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </div>
    </form>
</div>


{% for message in messages %}
<br>
<div align="center" class="alert alert-danger">
    <strong>Erro - </strong>{{ message }}
</div>
{% endfor %}

<footer align="center">
    {% include "model-footer.html" %}
</footer>

</body>
</html>