{% extends "model-page.html" %}

{% block content %}

<div class="conteudo">
    <h3>Meus Posts</h3>
    {% if publicacoes %}
    {% for post in publicacoes %}
    <ul>
        <li>{{ post.titulo }} - {{ post.data_publicacao }}</li>
        <a href="{% url 'publicacao' post.titulo %}">Visualizar post</a>
    </ul>
    {% endfor %}
    {% else %}
    <p>Você não tem nenhum post</p>
    {% endif %}
    <a href="/escrever_publicacao">
        <button class="btn btn-primary">Escrever novo post</button>
    </a>
</div>

{% endblock %}