<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h4 style="margin-right: 30px;">PyBlog</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>
            {% if usuario.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/minha_pagina/">Meus Posts </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/escrever_publicacao">Escrever Post </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/eventos">Meus Eventos </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/criar_evento">Criar Evento </a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/eventos">Eventos </a>
            </li>
            {% endif %}
        </ul>

        <div class="form-inline my-2 my-lg-0">
            {% if usuario.is_authenticated %}
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ usuario.first_name }} {{ usuario.last_name }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/editar_perfil">Editar Perfil</a>
                    <a class="dropdown-item" href="/logout/" style="color: red">Sair</a>
                </div>
            </div>
            {% else %}
            <div class="dropdown">
                <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownLoginButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Login
                </button>
                <form class="dropdown-menu p-4 dropdown-menu-right" action="/submit" method="post">
                    {% csrf_token %}
                    <h4>Faça seu login</h4>
                    <div class="form-group">
                        <label>Usuário:</label>
                        <input type="text" name="username" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label>Senha:</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    {% for message in messages %}
                    <div class="alert alert-danger">
                        <strong>Erro! </strong>{{ message }}
                    </div>
                    {% endfor %}
                    <div align="center" style="margin-top: 10px;">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                        <br>
                        <a href="/cadastro/">Cadastre-se</a>
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %} {% endblock %}

<footer>
    {% include "model-footer.html" %}
</footer>

</body>
</html>