<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include "model-header.html" %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <h4 style="margin-right: 30px;">PyBlog</h4>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Página Inicial</a>
            </li>
            {% if usuario.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="/minha_pagina/">Meus Posts </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Meus Eventos </a>
            </li>
            {% endif %}
        </ul>

        <div class="form-inline my-2 my-lg-0">
            {% if usuario.is_authenticated %}
            {{ usuario.first_name }} {{ usuario.last_name }}
            <a href="/logout/">
                <button class="btn btn-outline-danger my-2 my-sm-0" style="margin-right: 10px; margin-left: 10px;">
                    Sair
                </button>
            </a>
            {% else %}
            <a href="/login/">
                <button class="btn btn-outline-success my-2 my-sm-0" style="margin-right: 10px; margin-left: 10px;">
                    Fazer Login
                </button>
            </a>
            <a href="/cadastro/">
                <button class="btn btn-outline-secondary my-2 my-sm-0" style="margin-right: 10px; margin-left: 10px;">
                    Cadastre-se
                </button>
            </a>
            {% endif %}
        </div>
    </div>
</nav>

{% block content %} {% endblock %}

<footer>
    {% include "model-footer.html" %}
</footer>

</body>
</html>