{% extends "model-page.html" %}

{% block content %}
<div align="center" class="conteudo">
    <h1>{{ publicacao.titulo }}</h1>
    <p class="descricao">{{ publicacao.descricao }}</p>
    <span>Publicado por: {{ publicacao.autor.first_name }} {{ publicacao.autor.last_name }}</span>
    <hr>
</div>
<div class="conteudo">
    <p>{{ publicacao.post|safe }}</p>
    <br>
    <hr>
</div>

<section id="comentarios" class="conteudo">

    <div class="form-group">
        <h4>Comentários...</h4>
        <form method="post" action="send_comment">
            {% csrf_token %}
            <input type="number" name="id_publicacao" value="{{ publicacao.id }}" hidden>
            <input type="text" name="nome" class="form-control" placeholder="Informe seu nome">
            <textarea class="form-control" rows="3" placeholder="Escreva um comentário sobre a publicação"
                      name="comentario" style="margin-top:10px;"></textarea>
            <div align="right" style="margin-top: 5px;">
                <button type="submit" class="btn btn-primary">Comentar</button>
            </div>
        </form>

        {% if not publicacao.comments.all %}
            <h5>Nenhum comentário neste post</h5>
        {% else %}
            <h5>{{ publicacao.comments.count }} comentários</h5>
            {% for comentario in publicacao.comments.all %}
                {% if comentario.nome %}
                <strong>{{ comentario.nome }}</strong>
                {% else %}
                <strong>Anônimo</strong>
                {% endif %}
            <label class="text-muted" style="font-size:12px; margin-left:5px;">
                {{comentario.get_data_comentario}}
            </label>
            <p>{{ comentario.comentario }}</p>
            {% endfor %}
        {% endif %}
    </div>
</section>
{% endblock %}